db.sqlite3

*.pyc
cer3/_pycache/init_.cpython-310.pyc
cer3/_pycache/init_.cpython-310.pyc
cer3/_pycache_/settings.cpython-310.pyc
cer3/_pycache_/urls.cpython-310.pyc
cer3/_pycache_/wsgi.cpython-310.pyc

/react/node_modules/*
